<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;1,300&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.3.0/luxon.min.js"
        integrity="sha512-KKbQg5o92MwtJKR9sfm/HkREzfyzNMiKPIQ7i7SZOxwEdiNCm4Svayn2DBq7MKEdrqPJUOSIpy1v6PpFlCQ0YA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>Boolzapp</title>
</head>

<body>

    <div id="app">
        <div class="boolzapp-bg vh-100 vw-100 d-flex justify-content-center align-items-center">
            <div class="app-container d-flex">
                <div id="left-content-container">
                    <div id="my-contact" class="d-flex justify-content-between align-items-center">
                        <div class="profile-info">
                            <div class="avatar-contact mx-3 d-flex align-items-center">
                                <img src="./img/avatar_8.jpg" alt="myAvatar">
                                <h6 class="ms-2 lh-base mb-0">Emanuele</h6>
                            </div>
                        </div>
                        <div class="icons-menu"></div>
                    </div>
                    <div id="left-content-bottom">
                        <div id="turn-on"></div>
                        <div id="search-tab" class="d-flex justify-content-center">
                            <div class="input-group h-75 mx-2 my-auto">
                                <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                                <input type="text" class="form-control" id="search"
                                    placeholder="Find or start new chat">
                            </div>
                        </div>
                        <div id="chats" class="overflow-y-auto">
                            <div v-for="contact in contacts">
                                <div @click="openContactChat(contact)"
                                    class="single-user-chat d-flex align-items-center">
                                    <div class="avatar-contact mx-3">
                                        <img :src="contact.avatar" alt="">
                                    </div>
                                    <div class="contact-info pt-3">
                                        <h6 class="ellipsis">{{contact.name}}</h6>
                                        <p class="last-message ellipsis fw-light fst-italic">
                                            {{contact.messages[contact.messages.length -
                                            1].message}}
                                        </p>
                                        <small class="last-message-date"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="right-content-container" v-if="activeChat">
                    <div id="user-contact" class="d-flex justify-content-between align-items-center">
                        <div class="mx-3 d-flex align-items-center">
                            <img class="profile-pic" :src="activeUser.avatar" :alt="activeUser.id">
                            <h6 class="ms-2 mb-0">{{activeUser.name}}</h6>
                            <p class="last-seen"></p>
                        </div>
                        <div class="icons-menu"></div>
                    </div>
                    <div id="chat" class="overflow-y-auto">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 pt-3">
                                    <div class="mb-3 single-message" v-for="message in activeUser.messages"
                                        :class="message.status">
                                        <p class="mb-0">
                                            {{message.message}}
                                        </p>
                                        <div class="d-flex justify-content-end">
                                            <small class="time-messages pt-1">{{message.date}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="send-messages">
                        <div class="container h-100">
                            <div class="row h-100 align-items-center">
                                <div class="col-1 text-center">
                                    <i class="fa-sharp fa-regular fa-face-smile fa-lg pt-2"></i>
                                </div>
                                <div class="col-10">
                                    <input @keyup.enter="sendMessage()" v-model="messageTxt" type="text"
                                        class="form-control" id="send" placeholder="Write a message">
                                </div>
                                <div class="col-1 text-center">
                                    <i class="fa-solid fa-microphone fa-lg pt-2"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="right-content-container" v-else>

                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/script.js"></script>
</body>

</html>